@using WebPL.Models;
@using Dependencies;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    if(!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Index.cshtml");
    }

    if (IsPost)
    {
        FormsAuthentication.SignOut();
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Styles.css" />

    <title></title>
</head>
<body>
    <div>
        Welcome
        @foreach (var item in DependencyResolver.Instance.BL.UserLogic.GetUserInfo(DependencyResolver.Instance.BL.UserLogic.GetUserId(User.Identity.Name)))
            {
                <p>
                    @item
                </p>
            }
        <form method="post">
            <button type="submit" class="closebtn"> Sign Out</button>
        </form>
    </div>
</body>
</html>
