@using WebPL.Models;
@using Dependencies;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    DataToAddAndUpdateComment.OperationResult = DependencyResolver.Instance.BL.CommentLogic.CreateComment(DataToAddAndUpdateComment.RecipeId,
        DataToAddAndUpdateComment.UserId, DataToAddAndUpdateComment.Text);

    Response.Redirect("~/Pages/Recipe.cshtml");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
