@using WebPL.Models;
@using Dependencies;
@using DataValidator;

@{
    Layout = null;

    if (IsPost)
    {

        DataToAddAndUpdateRecipe.RecipeIngridients = Request["ingridients"];

        DataToAddAndUpdateRecipe.CreatorId = DependencyResolver.Instance.BL.UserLogic.GetUserId(User.Identity.Name);

        DataToAddAndUpdateRecipe.CookingProcess = Request["cookingProcess"];

        DataToAddAndUpdateRecipe.RecipeTitle = Request["title"];

        if (Request["addRecipe"] != null)
        {
            Response.Redirect("~/Pages/AddPages/AddRecipeToDAO.cshtml");
        }
        else if (Request["changeRecipe"] != null)
        {
            Response.Redirect("~/Pages/UpdatePages/UpdateRecipe");
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Styles.css" />
    <title></title>
</head>
<body>
    <div>
        @if (!string.IsNullOrEmpty(DataToAddAndUpdateRecipe.OperationResult))
        {
            if (DataToAddAndUpdateRecipe.OperationResult.ValidationPassed())
            {
                <div class="succsess_operation alert">
                    <span class="closebtn alert_btn" onclick="this.parentElement.style.display='none';"> &times; </span>
                    Operation succesfully executed!
                </div>
            }
            else
            {
                <div class="alert">
                    <span class="closebtn alert_btn" onclick="this.parentElement.style.display='none';">&times;</span>
                    @DataToAddAndUpdateRecipe.OperationResult
                </div>
            }

            DataToAddAndUpdateRecipe.Reset();
        }
    <form method="post">
        <h3>Insert recipe's title:</h3>
        <p>
            <input type="text" id="recipeTitle" style="height:40px; width:20%; max-width:40%;" name="title" value="@DataToAddAndUpdateRecipe.RecipeTitle" placeholder="Recipe title">
        </p>
        <h3>Insert ingridients used by recipe:</h3>
        <p>
            <textarea name="ingridients" class="textarea_style">@DataToAddAndUpdateRecipe.RecipeIngridients</textarea>
        </p>
        <h3>Insert cooking process:</h3>
        <p>
            <textarea name="cookingProcess" class="textarea_style">@DataToAddAndUpdateRecipe.CookingProcess</textarea>
        </p>
        @if (string.IsNullOrEmpty(DataToAddAndUpdateRecipe.CookingProcess))
        {
            <button type="submit" name="addRecipe" class="button"> Add Recipe</button>
        }
        else
        {
            <button type="submit" name="changeRecipe" class="button"> Change Recipe</button>
        }
    </form>
    </div>
</body>
</html>
