@using WebPL.Models;
@using Dependencies;
@using DataValidator;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    EntityToDeleteData.ConfirmationResult = false;

    if (DependencyResolver.Instance.BL.CommentLogic.RemoveEntity(EntityToDeleteData.EntityId))
    {
        EntityToDeleteData.DeletionResult = Constants.allOk;
    }
    else
    {
        EntityToDeleteData.DeletionResult = Constants.serverError;
    }

    Response.Redirect(EntityToDeleteData.SourcePage);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
