@using Dependencies;
@using DataValidator;
@using WebPL.Models;

@{
    FieldFillingChecker();

    RegistrationData.OperationResult = DependencyResolver.Instance.BL.UserLogic.UpdateUser(DependencyResolver.Instance.BL.UserLogic.GetUserId(RegistrationData.Login),
        RegistrationData.UserName, int.Parse(RegistrationData.Age), RegistrationData.Login, RegistrationData.Password);

    Response.Redirect("~/Pages/UserPage.cshtml");
}


@functions{
    void FieldFillingChecker()
    {
        if (string.IsNullOrEmpty(RegistrationData.UserName))
            RegistrationData.DataValidationResult = "Username field" + Constants.stringIsEmpty;

        else if (string.IsNullOrEmpty(RegistrationData.Age))
            RegistrationData.DataValidationResult = "Age field" + Constants.stringIsEmpty;

        else if (string.IsNullOrEmpty(RegistrationData.Login))
            RegistrationData.DataValidationResult = "Login field" + Constants.stringIsEmpty;

        else if (RegistrationData.Password != null)
        {
            if (string.Empty == RegistrationData.Password.Trim())
                RegistrationData.DataValidationResult = "Password field" + Constants.stringIsEmpty;
            else
            {
                return;
            }
        }

        else if(RegistrationData.Password == null)
        {
            RegistrationData.Password = Constants.emptyPasswordConstant;

            return;
        }

        RegistrationData.Reset();

        Response.Redirect("~/Pages/UserPage.cshtml");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
</body>
</html>
