@using Dependencies;
@using CommonInterfaces;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    string login = string.Empty;

    string password = string.Empty;

    if (IsPost)
    {
        login = Request["login"];

        password = Request["password"];
    }
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Styles/Styles.css" />
    <title>Login page</title>
</head>
<body>

    @if (DependencyResolver.Instance.Authentificator.CheckUserIdentity(login, password))
    {
        FormsAuthentication.SetAuthCookie(login, true);

        Response.Redirect("~/Pages/RecipeList.cshtml");
    }
    else
    {
        if (!string.IsNullOrEmpty(login.Trim()))
        {
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                User with specified login/password doesn't exist.
            </div>
        }
    }

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <a href="~/Pages/Registraition.cshtml">Sign Up </a>

            <!-- Login Form -->
            <form method="post">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>


</body>
</html>
