@using Dependencies;
@using WebPL.Models;

@{
    if (User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Pages/UserPage.cshtml");
    }

    if (IsPost)
    {
        RegistrationData.Login = Request["login"];

        RegistrationData.Password = Request["password"];

        Response.Redirect("~/Pages/AuthentificationPage.cshtml");
    }
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/scripts/showPassword.js"></script>
    <link rel="stylesheet" href="~/Styles/Styles.css" />
    <title>Login page</title>
</head>
<body>

    @if (!string.IsNullOrEmpty(RegistrationData.DataValidationResult))
    {
        <div class="alert">
            <span class="closebtn alert_btn" onclick="this.parentElement.style.display='none';">&times;</span>
            User with specified login/password doesn't exist.
        </div>

        RegistrationData.Reset();
    }

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <a href="~/Pages/AddPages/Registration.cshtml">Sign Up </a>

            <!-- Login Form -->
            <form method="post">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password"> <button type="button" onclick="showPassword('password')" 
                                                                                                                          class="button_params password_display login_password_display"></button>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

        </div>
    </div>


</body>
</html>
